.button {
  font-size: 10px;
  text-decoration: none;
  padding: 7px 12px;
  font-weight: 700;
  background: white;
  color: #d82724;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.55);
  cursor: pointer;
}

.secondary {
  @extend .button;
  letter-spacing: 1px;
  background-color: #d82724;
  color: white;
}
