.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.form {
  width: 100%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  button {
    position: absolute;
    bottom: 20px;
  }
}