.list-item__wrapper {
  list-style: none;
  padding: 50px 30px;
  /* margin: 0 0 30px; */
  display: flex;
  align-items: center;
}

.list-item__image {
  flex-shrink: 0;
  margin-right: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.list-item__name {
  margin: 0;
  color: #1E58FF;
  font-weight: 700;
}
.list-item__description {
  margin: 10px 0 20px;
  font-weight: 300;
}
.list-item__button {
  font-size: 12px;
  padding: 7px 12px;
  font-weight: 500;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #1E58FF;
  color: #1E58FF;
  text-decoration: none;
  transition: 0.3s linear;
}
.list-item__button:hover {
  background-color: #1E58FF;
  border-radius: 10px;
  border: 2px solid #1E58FF;
  color: white;
  text-decoration: none;
  box-shadow: inset 15em 0 0 0 #1E58FF;
}
