.wrapper {
  margin: 30px 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  padding: 0 15px 0 15px;
}

.noItems {
  font-size: 1.2em;
  color: darkgrey;
  display: block;
  width: 100%;
  margin-top: 100px;
  text-align: center;
}
