.wrapper {
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  max-width: 600px;
  min-width: 430px;
  min-height: 70vh;
  background-color: #202020;
  box-shadow: 0 0px 40px -5px rgba(#818181, 0.5);
  position: fixed;
}

.closeButton {
  background-color: #d82724;
  color: white;
  border: 2px solid #d82724;
  position: absolute;
  right: 20px;
  top: 20px;
  height: 25px;
  width: 25px;
  cursor: pointer;

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 14px;
    background-color: white;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
