.wrapper {
  display: grid;
  grid-template-columns: 150px 1fr 100px;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  font-weight: 800;
  font-size: 1.7rem;
  color: #ffffff;

  span {
    color: rgb(209, 0, 0);
  }
}
